<!-- Create your form here -->
<h1>Student Form</h1>
<%= form_tag("/students", method: "post") do %>
    <%= label_tag(:first_name, "Enter first name:") %><br>
    <%= text_field_tag(:first_name) %><br>
    <%= label_tag(:last_name, "Enter last name:") %><br>
    <%= text_field_tag(:last_name) %><br>
    <%= submit_tag("Submit Student") %>
<% end %>